In [14]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

dat_df = pd.read_csv('password_4.csv',sep=',')
dat_df

,Unnamed: 0,X_Coordinate,Y_Coordinate,Distance(median),Distance(direct),Date
0,0,302.435436,249.355459,2002.0,2009,2022-12-19 14:49:56.731
1,1,302.429562,249.521570,1996.0,1989,2022-12-19 14:49:56.751
2,2,302.605247,249.822435,1996.0,1989,2022-12-19 14:49:56.943
3,3,303.056641,250.947018,1970.0,1983,2022-12-19 14:49:56.959
4,4,302.661800,250.549793,1944.0,1963,2022-12-19 14:49:56.996
...,...,...,...,...,...,...
1307,1307,343.922806,280.956974,790.0,792,2022-12-19 14:50:41.318
1308,1308,343.454399,278.219891,787.0,789,2022-12-19 14:50:41.349
1309,1309,342.747688,275.992413,782.0,784,2022-12-19 14:50:41.386
1310,1310,341.771240,274.337311,781.0,782,2022-12-19 14:50:41.428
1311,1311,342.446251,279.133787,786.0,788,2022-12-19 14:50:41.459

In [15]:
rows_to_drop = dat_df.index[dat_df['X_Coordinate'] == 0]
rows_to_drop

Int64Index([], dtype='int64')

In [16]:
dat_df_D = dat_df.drop(rows_to_drop)
dat_df_T = pd.DataFrame(dat_df_D)
dat_df_T = dat_df_T.reset_index(drop=True)
dat_df = dat_df_T

In [17]:
dat_df['Date'] = pd.to_datetime(dat_df['Date'], format='%Y-%m-%d %H:%M:%S.%f')
print(dat_df['Date'].dtypes)
print(type(dat_df['Date'][0]))

datetime64[ns]
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [18]:
dat_df['dif_frame'] = dat_df['Date'].diff().dt.total_seconds()
dat_df['dif_frame'] = dat_df['dif_frame'].fillna(0)
dat_df['dif_frame'].head(20)

0     0.000
1     0.020
2     0.192
3     0.016
4     0.037
5     0.031
6     0.032
7     0.037
8     0.032
9     0.031
10    0.038
11    0.031
12    0.031
13    0.038
14    0.031
15    0.032
16    0.038
17    0.031
18    0.031
19    0.038
Name: dif_frame, dtype: float64

In [19]:
dat_df['dif_X'] = dat_df['X_Coordinate'].diff().abs()
dat_df['dif_X'] = dat_df['dif_X'].fillna(0)
dat_df['dif_X'].head(20)

0     0.000000
1     0.005875
2     0.175686
3     0.451393
4     0.394840
5     0.024338
6     0.111580
7     0.524578
8     0.170784
9     0.609131
10    0.587921
11    1.273079
12    2.379456
13    2.646866
14    3.599720
15    2.727661
16    3.633804
17    2.118473
18    3.291569
19    4.351234
Name: dif_X, dtype: float64

In [20]:
dat_df['dif_Y'] = dat_df['Y_Coordinate'].diff().abs()
dat_df['dif_Y'] = dat_df['dif_Y'].fillna(0)
dat_df['dif_Y'].head(20)

0     0.000000
1     0.166111
2     0.300865
3     1.124582
4     0.397224
5     0.483398
6     0.186424
7     0.482655
8     0.215149
9     0.297146
10    0.215778
11    0.661125
12    0.952692
13    1.645803
14    2.191086
15    1.470451
16    3.144693
17    1.717129
18    3.654857
19    3.241611
Name: dif_Y, dtype: float64

In [21]:
dat_df['dif_Dist'] = dat_df['Distance(median)'].diff()
dat_df['dif_Dist'] = dat_df['dif_Dist'].fillna(0)
dat_df['dif_Dist'].head(20)

0       0.0
1      -6.0
2       0.0
3     -26.0
4     -26.0
5      32.0
6     -50.0
7      37.0
8     -31.0
9      31.0
10    -25.0
11     13.0
12     32.0
13    -39.0
14     52.0
15     -3.5
16   -766.5
17    -15.0
18      0.0
19     32.0
Name: dif_Dist, dtype: float64

In [22]:
dat_df['X_Acceleration'] = dat_df['dif_X']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['X_Acceleration'] = dat_df['X_Acceleration'].fillna(0)
dat_df['X_Acceleration'].head(20)

0        0.000000
1       29.373169
2        9.531569
3     3526.508808
4      576.830154
5       50.650923
6      217.929482
7      766.366829
8      333.562493
9     1267.702101
10     814.295211
11    2649.487864
12    4952.040721
13    3666.019176
14    7491.612906
15    5327.463150
16    5032.969974
17    4408.892930
18    6850.299180
19    6026.640493
Name: X_Acceleration, dtype: float64

In [23]:
dat_df['Y_Acceleration'] = dat_df['dif_Y']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Y_Acceleration'] = dat_df['Y_Acceleration'].fillna(0)
dat_df['Y_Acceleration'].head(20)

0        0.000000
1      830.554962
2       16.322980
3     8785.799146
4      580.313260
5     1006.032128
6      364.109874
7      705.119900
8      420.212746
9      618.409664
10     298.861982
11    1375.910891
12    1982.709744
13    2279.506166
14    4560.012103
15    2871.975303
16    4355.530990
17    3573.629040
18    7606.361461
19    4489.765273
Name: Y_Acceleration, dtype: float64

In [24]:
dat_df['Dist_Acceleration'] = dat_df['dif_Dist']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Dist_Acceleration'] = dat_df['Dist_Acceleration'].fillna(0)
dat_df['Dist_Acceleration'].head(20)

0     0.000000e+00
1    -3.000000e+04
2     0.000000e+00
3    -2.031250e+05
4    -3.798393e+04
5     6.659729e+04
6    -9.765625e+04
7     5.405405e+04
8    -6.054688e+04
9     6.451613e+04
10   -3.462604e+04
11    2.705515e+04
12    6.659729e+04
13   -5.401662e+04
14    1.082206e+05
15   -6.835938e+03
16   -1.061634e+06
17   -3.121748e+04
18    0.000000e+00
19    4.432133e+04
Name: Dist_Acceleration, dtype: float64

In [25]:
dat_df = dat_df.drop(0, axis=0)
dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1          29.373169      830.554962      -30000.000000
2           9.531569       16.322980           0.000000
3        3526.508808     8785.799146     -203125.000000
4         576.830154      580.313260      -37983.929876
5          50.650923     1006.032128       66597.294485
...              ...             ...                ...
1307      920.444727     6124.041975       -9765.625000
1308      974.831794     5696.323486       -6243.496358
1309     1032.448233     3254.168046       -7304.601899
1310     1107.083967     1876.532626       -1133.786848
1311     1404.808910     9982.260904       10405.827263

[1311 rows x 3 columns]

In [26]:
dat_df_Acc = dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]
dat_df_Acc

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1          29.373169      830.554962      -30000.000000
2           9.531569       16.322980           0.000000
3        3526.508808     8785.799146     -203125.000000
4         576.830154      580.313260      -37983.929876
5          50.650923     1006.032128       66597.294485
...              ...             ...                ...
1307      920.444727     6124.041975       -9765.625000
1308      974.831794     5696.323486       -6243.496358
1309     1032.448233     3254.168046       -7304.601899
1310     1107.083967     1876.532626       -1133.786848
1311     1404.808910     9982.260904       10405.827263

[1311 rows x 3 columns]

In [27]:
##'max()'はdataframeをseriesに強制変換される
##'pd.DataFrame(df)'で変換した後、行と列を'.T'で入れ替える
dat_df_max0 = dat_df_Acc.loc[1:10].max()
dat_df_max0_D = pd.DataFrame(dat_df_max0).T
##print(dat_df_Acc.loc[1:10])

for i in range(2, 1303, 1):
    dat_df_max1 = dat_df_Acc.loc[i:i+9].max()
    dat_df_max1_D = pd.DataFrame(dat_df_max1).T
    ##print(dat_df_Acc.loc[i:i+9])
    dat_df_max0_D = dat_df_max0_D.append(dat_df_max1_D)

dat_df_max0_D = dat_df_max0_D.rename(columns={'X_Acceleration': 'X_Max', 'Y_Acceleration': 'Y_Max', 'Dist_Acceleration': 'Dist_Max'})
dat_df_max0_D

          X_Max         Y_Max       Dist_Max
0   3526.508808   8785.799146   66597.294485
0   3526.508808   8785.799146   66597.294485
0   4952.040721   8785.799146   66597.294485
0   4952.040721   2279.506166   66597.294485
0   7491.612906   4560.012103  108220.603538
..          ...           ...            ...
0   2687.275410  10589.331635    3906.250000
0   2687.275410  10589.331635    3906.250000
0   2687.275410  10589.331635    3906.250000
0   2687.275410  10589.331635    3906.250000
0   1570.852766  10589.331635   10405.827263

[1302 rows x 3 columns]

In [28]:
##ただ、indexがすべて0なので'.reset_index(drop=True)'で振り直す
dat_df_max0_D = dat_df_max0_D.reset_index(drop=True)
dat_df_max0_D

            X_Max         Y_Max       Dist_Max
0     3526.508808   8785.799146   66597.294485
1     3526.508808   8785.799146   66597.294485
2     4952.040721   8785.799146   66597.294485
3     4952.040721   2279.506166   66597.294485
4     7491.612906   4560.012103  108220.603538
...           ...           ...            ...
1297  2687.275410  10589.331635    3906.250000
1298  2687.275410  10589.331635    3906.250000
1299  2687.275410  10589.331635    3906.250000
1300  2687.275410  10589.331635    3906.250000
1301  1570.852766  10589.331635   10405.827263

[1302 rows x 3 columns]

In [29]:
dat_df_min0 = dat_df_Acc.loc[1:10].min()
dat_df_min0_D = pd.DataFrame(dat_df_min0).T

for i in range(2, 1303, 1):
    dat_df_min1 = dat_df_Acc.loc[i:i+9].min()
    dat_df_min1_D = pd.DataFrame(dat_df_min1).T
    dat_df_min0_D = dat_df_min0_D.append(dat_df_min1_D)

dat_df_min0_D = dat_df_min0_D.rename(columns={'X_Acceleration': 'X_Min', 'Y_Acceleration': 'Y_Min', 'Dist_Acceleration': 'Dist_Min'})
dat_df_min0_D = dat_df_min0_D.reset_index(drop=True)
dat_df_min0_D

           X_Min        Y_Min      Dist_Min
0       9.531569    16.322980 -203125.00000
1       9.531569    16.322980 -203125.00000
2      50.650923   298.861982 -203125.00000
3      50.650923   298.861982  -97656.25000
4      50.650923   298.861982  -97656.25000
...          ...          ...           ...
1297  368.859157  2365.673544  -16528.92562
1298  368.859157  2365.673544  -16528.92562
1299  368.859157  2365.673544  -16528.92562
1300  368.859157  1876.532626  -16528.92562
1301  368.859157  1876.532626  -16528.92562

[1302 rows x 3 columns]

In [30]:
dat_df_mean0 = dat_df_Acc.loc[1:10].mean()
dat_df_mean0_D = pd.DataFrame(dat_df_mean0).T

for i in range(2, 1303, 1):
    dat_df_mean1 = dat_df_Acc.loc[i:i+9].mean()
    dat_df_mean1_D = pd.DataFrame(dat_df_mean1).T
    dat_df_mean0_D = dat_df_mean0_D.append(dat_df_mean1_D)

dat_df_mean0_D = dat_df_mean0_D.rename(columns={'X_Acceleration': 'X_Mean', 'Y_Acceleration': 'Y_Mean', 'Dist_Acceleration': 'Dist_Mean'})
dat_df_mean0_D = dat_df_mean0_D.reset_index(drop=True)
dat_df_mean0_D

           X_Mean       Y_Mean     Dist_Mean
0      759.275074  1362.573664 -27877.061609
1     1021.286543  1417.109257 -22171.546520
2     1515.537459  1613.747933 -15511.817072
3     1529.488495   963.118635   -600.979121
4     2220.966771  1361.088520  14019.474220
...           ...          ...           ...
1297  1409.180407  5596.845663  -5789.000436
1298  1363.768901  5700.170387  -6218.037572
1299  1218.435189  5301.775179  -6324.148126
1300  1156.286807  5104.467250  -6291.434773
1301  1028.040157  5420.244372  -5641.477047

[1302 rows x 3 columns]

In [31]:
dat_df_var0 = dat_df_Acc.loc[1:10].var()
dat_df_var0_D = pd.DataFrame(dat_df_var0).T

for i in range(2, 1303, 1):
    dat_df_var1 = dat_df_Acc.loc[i:i+9].var()
    dat_df_var1_D = pd.DataFrame(dat_df_var1).T
    dat_df_var0_D = dat_df_var0_D.append(dat_df_var1_D)

dat_df_var0_D = dat_df_var0_D.rename(columns={'X_Acceleration': 'X_Var', 'Y_Acceleration': 'Y_Var', 'Dist_Acceleration': 'Dist_Var'})
dat_df_var0_D = dat_df_var0_D.reset_index(drop=True)
dat_df_var0_D

             X_Var         Y_Var      Dist_Var
0     1.113750e+06  6.882361e+06  6.861360e+09
1     1.375266e+06  6.847627e+06  7.159972e+09
2     2.706860e+06  6.622186e+06  7.931618e+09
3     2.771151e+06  4.857116e+05  3.938349e+09
4     6.088701e+06  1.730967e+06  4.861358e+09
...            ...           ...           ...
1297  5.588007e+05  5.466390e+06  2.950851e+07
1298  5.774281e+05  5.358747e+06  2.769205e+07
1299  4.262762e+05  5.584353e+06  2.781065e+07
1300  3.944473e+05  6.610375e+06  2.817489e+07
1301  1.225990e+05  8.814513e+06  4.712837e+07

[1302 rows x 3 columns]

In [32]:
dat_features_0 = pd.merge(dat_df_max0_D, dat_df_min0_D, left_index=True,right_index=True)
dat_features_1 = pd.merge(dat_features_0, dat_df_mean0_D, left_index=True,right_index=True)
dat_features = pd.merge(dat_features_1, dat_df_var0_D, left_index=True,right_index=True)

print(dat_features.shape)
dat_features

(1302, 12)

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var
0,3526.508808,8785.799146,66597.294485,9.531569,16.322980,-203125.00000,759.275074,1362.573664,-27877.061609,1.113750e+06,6.882361e+06,6.861360e+09
1,3526.508808,8785.799146,66597.294485,9.531569,16.322980,-203125.00000,1021.286543,1417.109257,-22171.546520,1.375266e+06,6.847627e+06,7.159972e+09
2,4952.040721,8785.799146,66597.294485,50.650923,298.861982,-203125.00000,1515.537459,1613.747933,-15511.817072,2.706860e+06,6.622186e+06,7.931618e+09
3,4952.040721,2279.506166,66597.294485,50.650923,298.861982,-97656.25000,1529.488495,963.118635,-600.979121,2.771151e+06,4.857116e+05,3.938349e+09
4,7491.612906,4560.012103,108220.603538,50.650923,298.861982,-97656.25000,2220.966771,1361.088520,14019.474220,6.088701e+06,1.730967e+06,4.861358e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
1297,2687.275410,10589.331635,3906.250000,368.859157,2365.673544,-16528.92562,1409.180407,5596.845663,-5789.000436,5.588007e+05,5.466390e+06,2.950851e+07
1298,2687.275410,10589.331635,3906.250000,368.859157,2365.673544,-16528.92562,1363.768901,5700.170387,-6218.037572,5.774281e+05,5.358747e+06,2.769205e+07
1299,2687.275410,10589.331635,3906.250000,368.859157,2365.673544,-16528.92562,1218.435189,5301.775179,-6324.148126,4.262762e+05,5.584353e+06,2.781065e+07
1300,2687.275410,10589.331635,3906.250000,368.859157,1876.532626,-16528.92562,1156.286807,5104.467250,-6291.434773,3.944473e+05,6.610375e+06,2.817489e+07
1301,1570.852766,10589.331635,10405.827263,368.859157,1876.532626,-16528.92562,1028.040157,5420.244372,-5641.477047,1.225990e+05,8.814513e+06,4.712837e+07

In [33]:
dat_features['Answer'] = 'password'
dat_features

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var,Answer
0,3526.508808,8785.799146,66597.294485,9.531569,16.322980,-203125.00000,759.275074,1362.573664,-27877.061609,1.113750e+06,6.882361e+06,6.861360e+09,password
1,3526.508808,8785.799146,66597.294485,9.531569,16.322980,-203125.00000,1021.286543,1417.109257,-22171.546520,1.375266e+06,6.847627e+06,7.159972e+09,password
2,4952.040721,8785.799146,66597.294485,50.650923,298.861982,-203125.00000,1515.537459,1613.747933,-15511.817072,2.706860e+06,6.622186e+06,7.931618e+09,password
3,4952.040721,2279.506166,66597.294485,50.650923,298.861982,-97656.25000,1529.488495,963.118635,-600.979121,2.771151e+06,4.857116e+05,3.938349e+09,password
4,7491.612906,4560.012103,108220.603538,50.650923,298.861982,-97656.25000,2220.966771,1361.088520,14019.474220,6.088701e+06,1.730967e+06,4.861358e+09,password
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,2687.275410,10589.331635,3906.250000,368.859157,2365.673544,-16528.92562,1409.180407,5596.845663,-5789.000436,5.588007e+05,5.466390e+06,2.950851e+07,password
1298,2687.275410,10589.331635,3906.250000,368.859157,2365.673544,-16528.92562,1363.768901,5700.170387,-6218.037572,5.774281e+05,5.358747e+06,2.769205e+07,password
1299,2687.275410,10589.331635,3906.250000,368.859157,2365.673544,-16528.92562,1218.435189,5301.775179,-6324.148126,4.262762e+05,5.584353e+06,2.781065e+07,password
1300,2687.275410,10589.331635,3906.250000,368.859157,1876.532626,-16528.92562,1156.286807,5104.467250,-6291.434773,3.944473e+05,6.610375e+06,2.817489e+07,password
1301,1570.852766,10589.331635,10405.827263,368.859157,1876.532626,-16528.92562,1028.040157,5420.244372,-5641.477047,1.225990e+05,8.814513e+06,4.712837e+07,password

In [34]:
dat_features.to_csv('data_password_4.csv')