In [1]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

dat_df = pd.read_csv('password_2.csv',sep=',')
dat_df

,Unnamed: 0,X_Coordinate,Y_Coordinate,Distance(median),Distance(direct),Date
0,0,366.878853,258.124609,673.0,675,2022-12-19 14:46:25.124
1,1,367.560768,258.018494,673.0,673,2022-12-19 14:46:25.155
2,2,367.105942,258.385448,673.0,672,2022-12-19 14:46:25.193
3,3,366.977158,258.390970,673.0,675,2022-12-19 14:46:25.224
4,4,366.177902,258.533907,673.0,673,2022-12-19 14:46:25.256
...,...,...,...,...,...,...
1339,1339,343.754311,297.746744,793.0,807,2022-12-19 14:47:11.099
1340,1340,344.074516,296.778002,792.0,807,2022-12-19 14:47:11.130
1341,1341,343.976402,296.210546,793.0,808,2022-12-19 14:47:11.168
1342,1342,343.754196,295.872803,793.0,809,2022-12-19 14:47:11.199
1343,1343,343.774529,295.626640,793.0,808,2022-12-19 14:47:11.230

In [2]:
rows_to_drop = dat_df.index[dat_df['X_Coordinate'] == 0]
rows_to_drop

Int64Index([143, 516, 1164], dtype='int64')

In [3]:
dat_df_D = dat_df.drop(rows_to_drop)
dat_df_T = pd.DataFrame(dat_df_D)
dat_df_T = dat_df_T.reset_index(drop=True)
dat_df = dat_df_T

In [4]:
dat_df['Date'] = pd.to_datetime(dat_df['Date'], format='%Y-%m-%d %H:%M:%S.%f')
print(dat_df['Date'].dtypes)
print(type(dat_df['Date'][0]))

datetime64[ns]
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [5]:
dat_df['dif_frame'] = dat_df['Date'].diff().dt.total_seconds()
dat_df['dif_frame'] = dat_df['dif_frame'].fillna(0)
dat_df['dif_frame'].head(20)

0     0.000
1     0.031
2     0.038
3     0.031
4     0.032
5     0.037
6     0.032
7     0.031
8     0.038
9     0.031
10    0.031
11    0.038
12    0.031
13    0.031
14    0.038
15    0.031
16    0.038
17    0.031
18    0.032
19    0.031
Name: dif_frame, dtype: float64

In [6]:
dat_df['dif_X'] = dat_df['X_Coordinate'].diff().abs()
dat_df['dif_X'] = dat_df['dif_X'].fillna(0)
dat_df['dif_X'].head(20)

0     0.000000
1     0.681915
2     0.454826
3     0.128784
4     0.799255
5     0.822449
6     0.744324
7     0.263138
8     0.710602
9     0.462036
10    0.235329
11    1.137924
12    0.388031
13    0.648193
14    0.457420
15    1.018944
16    0.559578
17    0.175781
18    1.262512
19    0.108452
Name: dif_X, dtype: float64

In [7]:
dat_df['dif_Y'] = dat_df['Y_Coordinate'].diff().abs()
dat_df['dif_Y'] = dat_df['dif_Y'].fillna(0)
dat_df['dif_Y'].head(20)

0     0.000000
1     0.106115
2     0.366955
3     0.005522
4     0.142937
5     0.189714
6     0.046492
7     0.412903
8     0.324240
9     0.736084
10    0.375223
11    0.315714
12    0.406952
13    0.466862
14    0.034647
15    0.422602
16    0.397081
17    0.001373
18    0.662842
19    0.220785
Name: dif_Y, dtype: float64

In [8]:
dat_df['dif_Dist'] = dat_df['Distance(median)'].diff()
dat_df['dif_Dist'] = dat_df['dif_Dist'].fillna(0)
dat_df['dif_Dist'].head(20)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     1.0
9     0.0
10    0.0
11    2.0
12    0.0
13   -1.0
14    2.0
15    2.0
16   -1.0
17    3.0
18    1.0
19   -1.0
Name: dif_Dist, dtype: float64

In [9]:
dat_df['X_Acceleration'] = dat_df['dif_X']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['X_Acceleration'] = dat_df['X_Acceleration'].fillna(0)
dat_df['X_Acceleration'].head(20)

0        0.000000
1     1419.178529
2      629.953400
3      268.021186
4     1561.045647
5     1201.532112
6     1453.757286
7      547.633335
8      984.213029
9      961.573637
10     489.757907
11    1576.072291
12     807.556724
13    1348.997626
14     633.546190
15    2120.590607
16     775.038701
17     365.829865
18    2465.844154
19     225.706229
Name: X_Acceleration, dtype: float64

In [10]:
dat_df['Y_Acceleration'] = dat_df['dif_Y']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Y_Acceleration'] = dat_df['Y_Acceleration'].fillna(0)
dat_df['Y_Acceleration'].head(20)

0        0.000000
1      220.843582
2      508.247650
3       11.491726
4      279.173255
5      277.157680
6       90.803951
7      859.319109
8      449.085500
9     1531.912559
10     780.901477
11     437.276845
12     846.934244
13     971.616493
14      47.987518
15     879.504058
16     549.974204
17       2.858046
18    1294.612885
19     459.490408
Name: Y_Acceleration, dtype: float64

In [11]:
dat_df['Dist_Acceleration'] = dat_df['dif_Dist']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Dist_Acceleration'] = dat_df['Dist_Acceleration'].fillna(0)
dat_df['Dist_Acceleration'].head(20)

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
5        0.000000
6     1953.125000
7        0.000000
8     1385.041551
9        0.000000
10       0.000000
11    2770.083102
12       0.000000
13   -2081.165453
14    2770.083102
15    4162.330905
16   -1385.041551
17    6243.496358
18    1953.125000
19   -2081.165453
Name: Dist_Acceleration, dtype: float64

In [12]:
dat_df = dat_df.drop(0, axis=0)
dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1        1419.178529      220.843582           0.000000
2         629.953400      508.247650           0.000000
3         268.021186       11.491726           0.000000
4        1561.045647      279.173255           0.000000
5        1201.532112      277.157680           0.000000
...              ...             ...                ...
1336     1688.390567      345.704459       -2081.165453
1337      666.401017     2016.113154       -2081.165453
1338      135.891986      785.949158        1385.041551
1339      462.447691      702.900643           0.000000
1340       42.314956      512.304713           0.000000

[1340 rows x 3 columns]

In [13]:
dat_df_Acc = dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]
dat_df_Acc

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1        1419.178529      220.843582           0.000000
2         629.953400      508.247650           0.000000
3         268.021186       11.491726           0.000000
4        1561.045647      279.173255           0.000000
5        1201.532112      277.157680           0.000000
...              ...             ...                ...
1336     1688.390567      345.704459       -2081.165453
1337      666.401017     2016.113154       -2081.165453
1338      135.891986      785.949158        1385.041551
1339      462.447691      702.900643           0.000000
1340       42.314956      512.304713           0.000000

[1340 rows x 3 columns]

In [14]:
##'max()'はdataframeをseriesに強制変換される
##'pd.DataFrame(df)'で変換した後、行と列を'.T'で入れ替える
dat_df_max0 = dat_df_Acc.loc[1:10].max()
dat_df_max0_D = pd.DataFrame(dat_df_max0).T
##print(dat_df_Acc.loc[1:10])

for i in range(2, 1332, 1):
    dat_df_max1 = dat_df_Acc.loc[i:i+9].max()
    dat_df_max1_D = pd.DataFrame(dat_df_max1).T
    ##print(dat_df_Acc.loc[i:i+9])
    dat_df_max0_D = dat_df_max0_D.append(dat_df_max1_D)

dat_df_max0_D = dat_df_max0_D.rename(columns={'X_Acceleration': 'X_Max', 'Y_Acceleration': 'Y_Max', 'Dist_Acceleration': 'Dist_Max'})
dat_df_max0_D

          X_Max        Y_Max     Dist_Max
0   1561.045647  1531.912559  1953.125000
0   1576.072291  1531.912559  2770.083102
0   1576.072291  1531.912559  2770.083102
0   1576.072291  1531.912559  2770.083102
0   1576.072291  1531.912559  2770.083102
..          ...          ...          ...
0   1688.390567  3261.447077  4155.124654
0   1688.390567  3261.447077  4155.124654
0   1688.390567  3261.447077  4155.124654
0   1688.390567  3261.447077  4155.124654
0   1688.390567  3261.447077  4155.124654

[1331 rows x 3 columns]

In [15]:
##ただ、indexがすべて0なので'.reset_index(drop=True)'で振り直す
dat_df_max0_D = dat_df_max0_D.reset_index(drop=True)
dat_df_max0_D

            X_Max        Y_Max     Dist_Max
0     1561.045647  1531.912559  1953.125000
1     1576.072291  1531.912559  2770.083102
2     1576.072291  1531.912559  2770.083102
3     1576.072291  1531.912559  2770.083102
4     1576.072291  1531.912559  2770.083102
...           ...          ...          ...
1326  1688.390567  3261.447077  4155.124654
1327  1688.390567  3261.447077  4155.124654
1328  1688.390567  3261.447077  4155.124654
1329  1688.390567  3261.447077  4155.124654
1330  1688.390567  3261.447077  4155.124654

[1331 rows x 3 columns]

In [16]:
dat_df_min0 = dat_df_Acc.loc[1:10].min()
dat_df_min0_D = pd.DataFrame(dat_df_min0).T

for i in range(2, 1332, 1):
    dat_df_min1 = dat_df_Acc.loc[i:i+9].min()
    dat_df_min1_D = pd.DataFrame(dat_df_min1).T
    dat_df_min0_D = dat_df_min0_D.append(dat_df_min1_D)

dat_df_min0_D = dat_df_min0_D.rename(columns={'X_Acceleration': 'X_Min', 'Y_Acceleration': 'Y_Min', 'Dist_Acceleration': 'Dist_Min'})
dat_df_min0_D = dat_df_min0_D.reset_index(drop=True)
dat_df_min0_D

           X_Min       Y_Min     Dist_Min
0     268.021186   11.491726     0.000000
1     268.021186   11.491726     0.000000
2     268.021186   11.491726     0.000000
3     489.757907   90.803951 -2081.165453
4     489.757907   47.987518 -2081.165453
...          ...         ...          ...
1326   88.921544  165.409402 -2081.165453
1327   88.921544  165.409402 -2081.165453
1328   88.921544  165.409402 -2081.165453
1329  135.891986  165.409402 -2081.165453
1330   42.314956  306.107104 -2081.165453

[1331 rows x 3 columns]

In [17]:
dat_df_mean0 = dat_df_Acc.loc[1:10].mean()
dat_df_mean0_D = pd.DataFrame(dat_df_mean0).T

for i in range(2, 1332, 1):
    dat_df_mean1 = dat_df_Acc.loc[i:i+9].mean()
    dat_df_mean1_D = pd.DataFrame(dat_df_mean1).T
    dat_df_mean0_D = dat_df_mean0_D.append(dat_df_mean1_D)

dat_df_mean0_D = dat_df_mean0_D.rename(columns={'X_Acceleration': 'X_Mean', 'Y_Acceleration': 'Y_Mean', 'Dist_Acceleration': 'Dist_Mean'})
dat_df_mean0_D = dat_df_mean0_D.reset_index(drop=True)
dat_df_mean0_D

           X_Mean       Y_Mean    Dist_Mean
0      951.666607   500.893649   333.816655
1      967.355983   522.536975   610.824965
2      985.116315   556.405635   610.824965
3     1093.213959   652.418111   402.708420
4     1000.464014   629.299538   679.716730
...           ...          ...          ...
1326   842.888173  1382.368938   952.229503
1327   837.037118  1340.343756   744.112958
1328   824.395808  1180.535970   882.617113
1329   861.748422  1075.816231   882.617113
1330   847.108876  1110.505762  1090.733658

[1331 rows x 3 columns]

In [18]:
dat_df_var0 = dat_df_Acc.loc[1:10].var()
dat_df_var0_D = pd.DataFrame(dat_df_var0).T

for i in range(2, 1332, 1):
    dat_df_var1 = dat_df_Acc.loc[i:i+9].var()
    dat_df_var1_D = pd.DataFrame(dat_df_var1).T
    dat_df_var0_D = dat_df_var0_D.append(dat_df_var1_D)

dat_df_var0_D = dat_df_var0_D.rename(columns={'X_Acceleration': 'X_Var', 'Y_Acceleration': 'Y_Var', 'Dist_Acceleration': 'Dist_Var'})
dat_df_var0_D = dat_df_var0_D.reset_index(drop=True)
dat_df_var0_D

              X_Var         Y_Var      Dist_Var
0     205896.492471  2.064383e+05  5.131891e+05
1     224657.992047  1.976533e+05  1.075036e+06
2     214495.881637  2.080487e+05  1.075036e+06
3     159088.456839  1.839692e+05  1.790656e+06
4     148688.728664  2.084892e+05  2.310095e+06
...             ...           ...           ...
1326  359046.280773  1.313213e+06  4.768414e+06
1327  360922.601674  1.232442e+06  5.641927e+06
1328  378665.887210  1.117186e+06  5.604733e+06
1329  331569.428165  1.094305e+06  5.604733e+06
1330  355608.081725  1.036158e+06  4.667164e+06

[1331 rows x 3 columns]

In [19]:
dat_features_0 = pd.merge(dat_df_max0_D, dat_df_min0_D, left_index=True,right_index=True)
dat_features_1 = pd.merge(dat_features_0, dat_df_mean0_D, left_index=True,right_index=True)
dat_features = pd.merge(dat_features_1, dat_df_var0_D, left_index=True,right_index=True)

print(dat_features.shape)
dat_features

(1331, 12)

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var
0,1561.045647,1531.912559,1953.125000,268.021186,11.491726,0.000000,951.666607,500.893649,333.816655,205896.492471,2.064383e+05,5.131891e+05
1,1576.072291,1531.912559,2770.083102,268.021186,11.491726,0.000000,967.355983,522.536975,610.824965,224657.992047,1.976533e+05,1.075036e+06
2,1576.072291,1531.912559,2770.083102,268.021186,11.491726,0.000000,985.116315,556.405635,610.824965,214495.881637,2.080487e+05,1.075036e+06
3,1576.072291,1531.912559,2770.083102,489.757907,90.803951,-2081.165453,1093.213959,652.418111,402.708420,159088.456839,1.839692e+05,1.790656e+06
4,1576.072291,1531.912559,2770.083102,489.757907,47.987518,-2081.165453,1000.464014,629.299538,679.716730,148688.728664,2.084892e+05,2.310095e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
1326,1688.390567,3261.447077,4155.124654,88.921544,165.409402,-2081.165453,842.888173,1382.368938,952.229503,359046.280773,1.313213e+06,4.768414e+06
1327,1688.390567,3261.447077,4155.124654,88.921544,165.409402,-2081.165453,837.037118,1340.343756,744.112958,360922.601674,1.232442e+06,5.641927e+06
1328,1688.390567,3261.447077,4155.124654,88.921544,165.409402,-2081.165453,824.395808,1180.535970,882.617113,378665.887210,1.117186e+06,5.604733e+06
1329,1688.390567,3261.447077,4155.124654,135.891986,165.409402,-2081.165453,861.748422,1075.816231,882.617113,331569.428165,1.094305e+06,5.604733e+06
1330,1688.390567,3261.447077,4155.124654,42.314956,306.107104,-2081.165453,847.108876,1110.505762,1090.733658,355608.081725,1.036158e+06,4.667164e+06

In [20]:
dat_features['Answer'] = 'password'
dat_features

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var,Answer
0,1561.045647,1531.912559,1953.125000,268.021186,11.491726,0.000000,951.666607,500.893649,333.816655,205896.492471,2.064383e+05,5.131891e+05,password
1,1576.072291,1531.912559,2770.083102,268.021186,11.491726,0.000000,967.355983,522.536975,610.824965,224657.992047,1.976533e+05,1.075036e+06,password
2,1576.072291,1531.912559,2770.083102,268.021186,11.491726,0.000000,985.116315,556.405635,610.824965,214495.881637,2.080487e+05,1.075036e+06,password
3,1576.072291,1531.912559,2770.083102,489.757907,90.803951,-2081.165453,1093.213959,652.418111,402.708420,159088.456839,1.839692e+05,1.790656e+06,password
4,1576.072291,1531.912559,2770.083102,489.757907,47.987518,-2081.165453,1000.464014,629.299538,679.716730,148688.728664,2.084892e+05,2.310095e+06,password
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,1688.390567,3261.447077,4155.124654,88.921544,165.409402,-2081.165453,842.888173,1382.368938,952.229503,359046.280773,1.313213e+06,4.768414e+06,password
1327,1688.390567,3261.447077,4155.124654,88.921544,165.409402,-2081.165453,837.037118,1340.343756,744.112958,360922.601674,1.232442e+06,5.641927e+06,password
1328,1688.390567,3261.447077,4155.124654,88.921544,165.409402,-2081.165453,824.395808,1180.535970,882.617113,378665.887210,1.117186e+06,5.604733e+06,password
1329,1688.390567,3261.447077,4155.124654,135.891986,165.409402,-2081.165453,861.748422,1075.816231,882.617113,331569.428165,1.094305e+06,5.604733e+06,password
1330,1688.390567,3261.447077,4155.124654,42.314956,306.107104,-2081.165453,847.108876,1110.505762,1090.733658,355608.081725,1.036158e+06,4.667164e+06,password

In [21]:
dat_features.to_csv('data_password_2.csv')