In [1]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

dat_df = pd.read_csv('password_3.csv',sep=',')
dat_df

,Unnamed: 0,X_Coordinate,Y_Coordinate,Distance(median),Distance(direct),Date
0,0,292.924995,317.703896,899.0,0,2022-12-19 14:48:05.629
1,1,292.756157,317.388554,896.0,0,2022-12-19 14:48:05.660
2,2,292.760143,317.343664,895.0,0,2022-12-19 14:48:05.698
3,3,292.695351,317.972660,895.0,0,2022-12-19 14:48:05.729
4,4,292.966480,318.437605,1103.0,0,2022-12-19 14:48:05.760
...,...,...,...,...,...,...
1395,1395,342.523499,289.303408,824.0,826,2022-12-19 14:48:53.154
1396,1396,342.406235,288.874311,823.5,825,2022-12-19 14:48:53.185
1397,1397,342.647743,288.587866,823.0,823,2022-12-19 14:48:53.216
1398,1398,343.063812,288.816948,818.0,820,2022-12-19 14:48:53.256
1399,1399,342.440567,288.609037,822.0,821,2022-12-19 14:48:53.287

In [2]:
rows_to_drop = dat_df.index[dat_df['X_Coordinate'] == 0]
rows_to_drop

Int64Index([], dtype='int64')

In [3]:
dat_df_D = dat_df.drop(rows_to_drop)
dat_df_T = pd.DataFrame(dat_df_D)
dat_df_T = dat_df_T.reset_index(drop=True)
dat_df = dat_df_T

In [4]:
dat_df['Date'] = pd.to_datetime(dat_df['Date'], format='%Y-%m-%d %H:%M:%S.%f')
print(dat_df['Date'].dtypes)
print(type(dat_df['Date'][0]))

datetime64[ns]
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [5]:
dat_df['dif_frame'] = dat_df['Date'].diff().dt.total_seconds()
dat_df['dif_frame'] = dat_df['dif_frame'].fillna(0)
dat_df['dif_frame'].head(20)

0     0.000
1     0.031
2     0.038
3     0.031
4     0.031
5     0.038
6     0.031
7     0.032
8     0.037
9     0.031
10    0.031
11    0.038
12    0.031
13    0.040
14    0.046
15    0.100
16    0.015
17    0.032
18    0.037
19    0.032
Name: dif_frame, dtype: float64

In [6]:
dat_df['dif_X'] = dat_df['X_Coordinate'].diff().abs()
dat_df['dif_X'] = dat_df['dif_X'].fillna(0)
dat_df['dif_X'].head(20)

0     0.000000
1     0.168839
2     0.003986
3     0.064793
4     0.271130
5     0.489120
6     0.319691
7     0.029850
8     0.004787
9     0.233612
10    0.120106
11    0.379696
12    0.533180
13    0.740700
14    0.596733
15    0.904064
16    0.102520
17    0.140133
18    0.540218
19    0.425148
Name: dif_X, dtype: float64

In [7]:
dat_df['dif_Y'] = dat_df['Y_Coordinate'].diff().abs()
dat_df['dif_Y'] = dat_df['dif_Y'].fillna(0)
dat_df['dif_Y'].head(20)

0     0.000000
1     0.315342
2     0.044889
3     0.628996
4     0.464945
5     0.290966
6     0.355396
7     0.270338
8     0.260496
9     0.501165
10    0.380602
11    0.268621
12    0.062456
13    0.005693
14    3.936367
15    4.795961
16    0.714941
17    0.969028
18    0.423203
19    0.292568
Name: dif_Y, dtype: float64

In [8]:
dat_df['dif_Dist'] = dat_df['Distance(median)'].diff()
dat_df['dif_Dist'] = dat_df['dif_Dist'].fillna(0)
dat_df['dif_Dist'].head(20)

0       0.0
1      -3.0
2      -1.0
3       0.0
4     208.0
5    -204.0
6       1.0
7     201.0
8    -208.0
9       6.5
10    209.5
11     -2.0
12   -208.0
13     -6.0
14    214.0
15   -216.0
16     -6.0
17      5.0
18      7.0
19     -6.0
Name: dif_Dist, dtype: float64

In [9]:
dat_df['X_Acceleration'] = dat_df['dif_X']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['X_Acceleration'] = dat_df['X_Acceleration'].fillna(0)
dat_df['X_Acceleration'].head(20)

0        0.000000
1      351.380855
2        5.521272
3      134.844190
4      564.265574
5      677.452193
6      665.329249
7       58.300793
8        6.994076
9      486.185350
10     249.959924
11     525.894588
12    1109.636289
13     925.874710
14     564.019937
15     180.812836
16     911.288791
17     273.697078
18     789.216002
19     830.367208
Name: X_Acceleration, dtype: float64

In [10]:
dat_df['Y_Acceleration'] = dat_df['dif_Y']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Y_Acceleration'] = dat_df['Y_Acceleration'].fillna(0)
dat_df['Y_Acceleration'].head(20)

0        0.000000
1      656.278771
2       62.173754
3     1309.044527
4      967.627137
5      403.000047
6      739.638441
7      528.004020
8      380.564119
9     1043.008096
10     792.095490
11     372.051862
12     129.981542
13       7.116795
14    3720.573757
15     959.192276
16    6355.031331
17    1892.633736
18     618.265178
19     571.422279
Name: Y_Acceleration, dtype: float64

In [11]:
dat_df['Dist_Acceleration'] = dat_df['dif_Dist']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Dist_Acceleration'] = dat_df['Dist_Acceleration'].fillna(0)
dat_df['Dist_Acceleration'].head(20)

0          0.000000
1      -6243.496358
2      -1385.041551
3          0.000000
4     432882.414152
5    -282548.476454
6       2081.165453
7     392578.125000
8    -303871.439007
9      13527.575442
10    436004.162331
11     -2770.083102
12   -432882.414152
13     -7500.000000
14    202268.431002
15    -43200.000000
16    -53333.333333
17      9765.625000
18     10226.442659
19    -11718.750000
Name: Dist_Acceleration, dtype: float64

In [12]:
dat_df = dat_df.drop(0, axis=0)
dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1         351.380855      656.278771       -6243.496358
2           5.521272       62.173754       -1385.041551
3         134.844190     1309.044527           0.000000
4         564.265574      967.627137      432882.414152
5         677.452193      403.000047     -282548.476454
...              ...             ...                ...
1395      257.518483      576.008720           0.000000
1396      244.045357      893.020233       -1040.582726
1397      502.619113      596.140724       -1040.582726
1398      520.086288      286.352634       -6250.000000
1399     1297.076460      432.696228        8324.661811

[1399 rows x 3 columns]

In [13]:
dat_df_Acc = dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]
dat_df_Acc

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1         351.380855      656.278771       -6243.496358
2           5.521272       62.173754       -1385.041551
3         134.844190     1309.044527           0.000000
4         564.265574      967.627137      432882.414152
5         677.452193      403.000047     -282548.476454
...              ...             ...                ...
1395      257.518483      576.008720           0.000000
1396      244.045357      893.020233       -1040.582726
1397      502.619113      596.140724       -1040.582726
1398      520.086288      286.352634       -6250.000000
1399     1297.076460      432.696228        8324.661811

[1399 rows x 3 columns]

In [14]:
##'max()'はdataframeをseriesに強制変換される
##'pd.DataFrame(df)'で変換した後、行と列を'.T'で入れ替える
dat_df_max0 = dat_df_Acc.loc[1:10].max()
dat_df_max0_D = pd.DataFrame(dat_df_max0).T
##print(dat_df_Acc.loc[1:10])

for i in range(2, 1391, 1):
    dat_df_max1 = dat_df_Acc.loc[i:i+9].max()
    dat_df_max1_D = pd.DataFrame(dat_df_max1).T
    ##print(dat_df_Acc.loc[i:i+9])
    dat_df_max0_D = dat_df_max0_D.append(dat_df_max1_D)

dat_df_max0_D = dat_df_max0_D.rename(columns={'X_Acceleration': 'X_Max', 'Y_Acceleration': 'Y_Max', 'Dist_Acceleration': 'Dist_Max'})
dat_df_max0_D

          X_Max        Y_Max       Dist_Max
0    677.452193  1309.044527  436004.162331
0    677.452193  1309.044527  436004.162331
0   1109.636289  1309.044527  436004.162331
0   1109.636289  1043.008096  436004.162331
0   1109.636289  3720.573757  436004.162331
..          ...          ...            ...
0   4117.838542  3111.876012    8888.888889
0   4117.838542  3111.876012    8888.888889
0   4117.838542  2197.122723    8888.888889
0   4117.838542  1324.510971    8888.888889
0   4117.838542   893.020233    8888.888889

[1390 rows x 3 columns]

In [15]:
##ただ、indexがすべて0なので'.reset_index(drop=True)'で振り直す
dat_df_max0_D = dat_df_max0_D.reset_index(drop=True)
dat_df_max0_D

            X_Max        Y_Max       Dist_Max
0      677.452193  1309.044527  436004.162331
1      677.452193  1309.044527  436004.162331
2     1109.636289  1309.044527  436004.162331
3     1109.636289  1043.008096  436004.162331
4     1109.636289  3720.573757  436004.162331
...           ...          ...            ...
1385  4117.838542  3111.876012    8888.888889
1386  4117.838542  3111.876012    8888.888889
1387  4117.838542  2197.122723    8888.888889
1388  4117.838542  1324.510971    8888.888889
1389  4117.838542   893.020233    8888.888889

[1390 rows x 3 columns]

In [16]:
dat_df_min0 = dat_df_Acc.loc[1:10].min()
dat_df_min0_D = pd.DataFrame(dat_df_min0).T

for i in range(2, 1391, 1):
    dat_df_min1 = dat_df_Acc.loc[i:i+9].min()
    dat_df_min1_D = pd.DataFrame(dat_df_min1).T
    dat_df_min0_D = dat_df_min0_D.append(dat_df_min1_D)

dat_df_min0_D = dat_df_min0_D.rename(columns={'X_Acceleration': 'X_Min', 'Y_Acceleration': 'Y_Min', 'Dist_Acceleration': 'Dist_Min'})
dat_df_min0_D = dat_df_min0_D.reset_index(drop=True)
dat_df_min0_D

           X_Min       Y_Min       Dist_Min
0       5.521272   62.173754 -303871.439007
1       5.521272   62.173754 -303871.439007
2       6.994076  129.981542 -432882.414152
3       6.994076    7.116795 -432882.414152
4       6.994076    7.116795 -432882.414152
...          ...         ...            ...
1385  164.503423  103.505452   -8324.661811
1386  164.503423  103.505452   -8324.661811
1387  164.503423  103.505452   -8324.661811
1388  164.503423  103.505452   -6250.000000
1389  164.503423  103.505452   -6250.000000

[1390 rows x 3 columns]

In [17]:
dat_df_mean0 = dat_df_Acc.loc[1:10].mean()
dat_df_mean0_D = pd.DataFrame(dat_df_mean0).T

for i in range(2, 1391, 1):
    dat_df_mean1 = dat_df_Acc.loc[i:i+9].mean()
    dat_df_mean1_D = pd.DataFrame(dat_df_mean1).T
    dat_df_mean0_D = dat_df_mean0_D.append(dat_df_mean1_D)

dat_df_mean0_D = dat_df_mean0_D.rename(columns={'X_Acceleration': 'X_Mean', 'Y_Acceleration': 'Y_Mean', 'Dist_Acceleration': 'Dist_Mean'})
dat_df_mean0_D = dat_df_mean0_D.reset_index(drop=True)
dat_df_mean0_D

          X_Mean       Y_Mean     Dist_Mean
0     320.023348   688.143440  68302.498901
1     337.474721   659.720749  68649.840226
2     447.886223   666.501528  25500.102966
3     526.989275   536.308755  24750.102966
4     526.964711   811.603417   1688.704651
...          ...          ...           ...
1385  848.082321  1135.207160   -724.911423
1386  853.091076  1023.746210   -344.205152
1387  810.323596   772.172681   -448.263425
1388  816.452650   581.095672   -240.797244
1389  893.562912   491.914198    730.173092

[1390 rows x 3 columns]

In [18]:
dat_df_var0 = dat_df_Acc.loc[1:10].var()
dat_df_var0_D = pd.DataFrame(dat_df_var0).T

for i in range(2, 1391, 1):
    dat_df_var1 = dat_df_Acc.loc[i:i+9].var()
    dat_df_var1_D = pd.DataFrame(dat_df_var1).T
    dat_df_var0_D = dat_df_var0_D.append(dat_df_var1_D)

dat_df_var0_D = dat_df_var0_D.rename(columns={'X_Acceleration': 'X_Var', 'Y_Acceleration': 'Y_Var', 'Dist_Acceleration': 'Dist_Var'})
dat_df_var0_D = dat_df_var0_D.reset_index(drop=True)
dat_df_var0_D

             X_Var         Y_Var      Dist_Var
0     7.109297e+04  1.330473e+05  7.303909e+10
1     7.535454e+04  1.431384e+05  7.298276e+10
2     1.158138e+05  1.345941e+05  9.831728e+10
3     1.233588e+05  1.181969e+05  9.836541e+10
4     1.233568e+05  1.139934e+06  8.276790e+10
...            ...           ...           ...
1385  1.400104e+06  1.004498e+06  2.024871e+07
1386  1.393075e+06  9.126427e+05  1.821019e+07
1387  1.404028e+06  3.781614e+05  1.823888e+07
1388  1.399616e+06  1.382096e+05  1.503800e+07
1389  1.409300e+06  7.041215e+04  2.199688e+07

[1390 rows x 3 columns]

In [19]:
dat_features_0 = pd.merge(dat_df_max0_D, dat_df_min0_D, left_index=True,right_index=True)
dat_features_1 = pd.merge(dat_features_0, dat_df_mean0_D, left_index=True,right_index=True)
dat_features = pd.merge(dat_features_1, dat_df_var0_D, left_index=True,right_index=True)

print(dat_features.shape)
dat_features

(1390, 12)

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var
0,677.452193,1309.044527,436004.162331,5.521272,62.173754,-303871.439007,320.023348,688.143440,68302.498901,7.109297e+04,1.330473e+05,7.303909e+10
1,677.452193,1309.044527,436004.162331,5.521272,62.173754,-303871.439007,337.474721,659.720749,68649.840226,7.535454e+04,1.431384e+05,7.298276e+10
2,1109.636289,1309.044527,436004.162331,6.994076,129.981542,-432882.414152,447.886223,666.501528,25500.102966,1.158138e+05,1.345941e+05,9.831728e+10
3,1109.636289,1043.008096,436004.162331,6.994076,7.116795,-432882.414152,526.989275,536.308755,24750.102966,1.233588e+05,1.181969e+05,9.836541e+10
4,1109.636289,3720.573757,436004.162331,6.994076,7.116795,-432882.414152,526.964711,811.603417,1688.704651,1.233568e+05,1.139934e+06,8.276790e+10
...,...,...,...,...,...,...,...,...,...,...,...,...
1385,4117.838542,3111.876012,8888.888889,164.503423,103.505452,-8324.661811,848.082321,1135.207160,-724.911423,1.400104e+06,1.004498e+06,2.024871e+07
1386,4117.838542,3111.876012,8888.888889,164.503423,103.505452,-8324.661811,853.091076,1023.746210,-344.205152,1.393075e+06,9.126427e+05,1.821019e+07
1387,4117.838542,2197.122723,8888.888889,164.503423,103.505452,-8324.661811,810.323596,772.172681,-448.263425,1.404028e+06,3.781614e+05,1.823888e+07
1388,4117.838542,1324.510971,8888.888889,164.503423,103.505452,-6250.000000,816.452650,581.095672,-240.797244,1.399616e+06,1.382096e+05,1.503800e+07
1389,4117.838542,893.020233,8888.888889,164.503423,103.505452,-6250.000000,893.562912,491.914198,730.173092,1.409300e+06,7.041215e+04,2.199688e+07

In [20]:
dat_features['Answer'] = 'password'
dat_features

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var,Answer
0,677.452193,1309.044527,436004.162331,5.521272,62.173754,-303871.439007,320.023348,688.143440,68302.498901,7.109297e+04,1.330473e+05,7.303909e+10,password
1,677.452193,1309.044527,436004.162331,5.521272,62.173754,-303871.439007,337.474721,659.720749,68649.840226,7.535454e+04,1.431384e+05,7.298276e+10,password
2,1109.636289,1309.044527,436004.162331,6.994076,129.981542,-432882.414152,447.886223,666.501528,25500.102966,1.158138e+05,1.345941e+05,9.831728e+10,password
3,1109.636289,1043.008096,436004.162331,6.994076,7.116795,-432882.414152,526.989275,536.308755,24750.102966,1.233588e+05,1.181969e+05,9.836541e+10,password
4,1109.636289,3720.573757,436004.162331,6.994076,7.116795,-432882.414152,526.964711,811.603417,1688.704651,1.233568e+05,1.139934e+06,8.276790e+10,password
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,4117.838542,3111.876012,8888.888889,164.503423,103.505452,-8324.661811,848.082321,1135.207160,-724.911423,1.400104e+06,1.004498e+06,2.024871e+07,password
1386,4117.838542,3111.876012,8888.888889,164.503423,103.505452,-8324.661811,853.091076,1023.746210,-344.205152,1.393075e+06,9.126427e+05,1.821019e+07,password
1387,4117.838542,2197.122723,8888.888889,164.503423,103.505452,-8324.661811,810.323596,772.172681,-448.263425,1.404028e+06,3.781614e+05,1.823888e+07,password
1388,4117.838542,1324.510971,8888.888889,164.503423,103.505452,-6250.000000,816.452650,581.095672,-240.797244,1.399616e+06,1.382096e+05,1.503800e+07,password
1389,4117.838542,893.020233,8888.888889,164.503423,103.505452,-6250.000000,893.562912,491.914198,730.173092,1.409300e+06,7.041215e+04,2.199688e+07,password

In [21]:
dat_features.to_csv('data_password_3.csv')