In [1]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

dat_df = pd.read_csv('password_5.csv',sep=',')
dat_df

,Unnamed: 0,X_Coordinate,Y_Coordinate,Distance(median),Distance(direct),Date
0,0,316.437168,271.139746,1327.0,1336,2022-12-19 14:52:23.918
1,1,316.482296,271.351576,1325.0,1325,2022-12-19 14:52:23.950
2,2,316.263123,271.599741,1327.0,1325,2022-12-19 14:52:23.981
3,3,316.466331,271.716070,1325.0,1327,2022-12-19 14:52:24.018
4,4,316.514835,272.060537,1322.0,1325,2022-12-19 14:52:24.049
...,...,...,...,...,...,...
1321,1321,340.818787,284.041243,818.0,821,2022-12-19 14:53:09.057
1322,1322,339.915504,282.144356,818.0,820,2022-12-19 14:53:09.094
1323,1323,338.611870,280.186100,818.0,818,2022-12-19 14:53:09.126
1324,1324,337.015610,278.820105,819.0,813,2022-12-19 14:53:09.157
1325,1325,336.569824,278.024998,821.0,0,2022-12-19 14:53:09.195

In [2]:
rows_to_drop = dat_df.index[dat_df['X_Coordinate'] == 0]
rows_to_drop

Int64Index([], dtype='int64')

In [3]:
dat_df_D = dat_df.drop(rows_to_drop)
dat_df_T = pd.DataFrame(dat_df_D)
dat_df_T = dat_df_T.reset_index(drop=True)
dat_df = dat_df_T

In [4]:
dat_df['Date'] = pd.to_datetime(dat_df['Date'], format='%Y-%m-%d %H:%M:%S.%f')
print(dat_df['Date'].dtypes)
print(type(dat_df['Date'][0]))

datetime64[ns]
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [5]:
dat_df['dif_frame'] = dat_df['Date'].diff().dt.total_seconds()
dat_df['dif_frame'] = dat_df['dif_frame'].fillna(0)
dat_df['dif_frame'].head(20)

0     0.000
1     0.032
2     0.031
3     0.037
4     0.031
5     0.032
6     0.037
7     0.032
8     0.031
9     0.037
10    0.032
11    0.031
12    0.037
13    0.032
14    0.031
15    0.037
16    0.032
17    0.031
18    0.038
19    0.031
Name: dif_frame, dtype: float64

In [6]:
dat_df['dif_X'] = dat_df['X_Coordinate'].diff().abs()
dat_df['dif_X'] = dat_df['dif_X'].fillna(0)
dat_df['dif_X'].head(20)

0     0.000000
1     0.045128
2     0.219173
3     0.203209
4     0.048504
5     0.069866
6     0.142040
7     0.492916
8     0.335999
9     0.021858
10    0.190887
11    0.346737
12    0.002384
13    0.002003
14    0.082359
15    0.470448
16    0.016556
17    0.278225
18    0.063133
19    0.071030
Name: dif_X, dtype: float64

In [7]:
dat_df['dif_Y'] = dat_df['Y_Coordinate'].diff().abs()
dat_df['dif_Y'] = dat_df['dif_Y'].fillna(0)
dat_df['dif_Y'].head(20)

0     0.000000
1     0.211830
2     0.248165
3     0.116329
4     0.344467
5     0.250826
6     0.573120
7     0.601101
8     0.537386
9     0.467606
10    0.407209
11    0.666819
12    0.271196
13    0.664272
14    0.653887
15    0.903311
16    0.837278
17    0.094185
18    1.000214
19    0.341263
Name: dif_Y, dtype: float64

In [8]:
dat_df['dif_Dist'] = dat_df['Distance(median)'].diff()
dat_df['dif_Dist'] = dat_df['dif_Dist'].fillna(0)
dat_df['dif_Dist'].head(20)

0      0.0
1     -2.0
2      2.0
3     -2.0
4     -3.0
5     -9.0
6      9.0
7     -9.0
8      9.0
9    -20.0
10    20.0
11    -3.0
12     6.0
13   -12.0
14    -6.0
15    15.0
16    -6.0
17    11.0
18    -5.0
19    -6.0
Name: dif_Dist, dtype: float64

In [9]:
dat_df['X_Acceleration'] = dat_df['dif_X']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['X_Acceleration'] = dat_df['X_Acceleration'].fillna(0)
dat_df['X_Acceleration'].head(20)

0       0.000000
1      88.140368
2     456.136174
3     296.872057
4     100.944590
5     136.457384
6     207.509500
7     962.726772
8     699.268544
9      31.933112
10    372.827053
11    721.616874
12      3.483106
13      3.911555
14    171.403359
15    687.286399
16     32.335520
17    579.032144
18     87.442160
19    147.824481
Name: X_Acceleration, dtype: float64

In [10]:
dat_df['Y_Acceleration'] = dat_df['dif_Y']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Y_Acceleration'] = dat_df['Y_Acceleration'].fillna(0)
dat_df['Y_Acceleration'].head(20)

0        0.000000
1      413.730741
2      516.472696
3      169.947689
4      716.893159
5      489.894301
6      837.282859
7     1174.025238
8     1118.389054
9      683.134537
10     795.330852
11    1387.759873
12     396.196297
13    1297.406852
14    1360.846608
15    1319.665122
16    1635.309309
17     196.014309
18    1385.337428
19     710.224386
Name: Y_Acceleration, dtype: float64

In [11]:
dat_df['Dist_Acceleration'] = dat_df['dif_Dist']*2/(dat_df['dif_frame']*dat_df['dif_frame'])
dat_df['Dist_Acceleration'] = dat_df['Dist_Acceleration'].fillna(0)
dat_df['Dist_Acceleration'].head(20)

0         0.000000
1     -3906.250000
2      4162.330905
3     -2921.840760
4     -6243.496358
5    -17578.125000
6     13148.283419
7    -17578.125000
8     18730.489074
9    -29218.407597
10    39062.500000
11    -6243.496358
12     8765.522279
13   -23437.500000
14   -12486.992716
15    21913.805698
16   -11718.750000
17    22892.819979
18    -6925.207756
19   -12486.992716
Name: Dist_Acceleration, dtype: float64

In [12]:
dat_df = dat_df.drop(0, axis=0)
dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1          88.140368      413.730741       -3906.250000
2         456.136174      516.472696        4162.330905
3         296.872057      169.947689       -2921.840760
4         100.944590      716.893159       -6243.496358
5         136.457384      489.894301      -17578.125000
...              ...             ...                ...
1321     2762.079239     3667.585552        9765.625000
1322     1319.623324     2771.200622           0.000000
1323     2546.161413     3824.718297           0.000000
1324     3322.081313     2842.862450        2081.165453
1325      617.431472     1101.256077        2770.083102

[1325 rows x 3 columns]

In [13]:
dat_df_Acc = dat_df[['X_Acceleration','Y_Acceleration','Dist_Acceleration']]
dat_df_Acc

      X_Acceleration  Y_Acceleration  Dist_Acceleration
1          88.140368      413.730741       -3906.250000
2         456.136174      516.472696        4162.330905
3         296.872057      169.947689       -2921.840760
4         100.944590      716.893159       -6243.496358
5         136.457384      489.894301      -17578.125000
...              ...             ...                ...
1321     2762.079239     3667.585552        9765.625000
1322     1319.623324     2771.200622           0.000000
1323     2546.161413     3824.718297           0.000000
1324     3322.081313     2842.862450        2081.165453
1325      617.431472     1101.256077        2770.083102

[1325 rows x 3 columns]

In [14]:
##'max()'はdataframeをseriesに強制変換される
##'pd.DataFrame(df)'で変換した後、行と列を'.T'で入れ替える
dat_df_max0 = dat_df_Acc.loc[1:10].max()
dat_df_max0_D = pd.DataFrame(dat_df_max0).T
##print(dat_df_Acc.loc[1:10])

for i in range(2, 1317, 1):
    dat_df_max1 = dat_df_Acc.loc[i:i+9].max()
    dat_df_max1_D = pd.DataFrame(dat_df_max1).T
    ##print(dat_df_Acc.loc[i:i+9])
    dat_df_max0_D = dat_df_max0_D.append(dat_df_max1_D)

dat_df_max0_D = dat_df_max0_D.rename(columns={'X_Acceleration': 'X_Max', 'Y_Acceleration': 'Y_Max', 'Dist_Acceleration': 'Dist_Max'})
dat_df_max0_D

          X_Max        Y_Max   Dist_Max
0    962.726772  1174.025238  39062.500
0    962.726772  1387.759873  39062.500
0    962.726772  1387.759873  39062.500
0    962.726772  1387.759873  39062.500
0    962.726772  1387.759873  39062.500
..          ...          ...        ...
0   4549.548030  5672.030097   9765.625
0   4549.548030  5672.030097   9765.625
0   4549.548030  5672.030097   9765.625
0   4549.548030  5672.030097   9765.625
0   4549.548030  5672.030097   9765.625

[1316 rows x 3 columns]

In [15]:
##ただ、indexがすべて0なので'.reset_index(drop=True)'で振り直す
dat_df_max0_D = dat_df_max0_D.reset_index(drop=True)
dat_df_max0_D

            X_Max        Y_Max   Dist_Max
0      962.726772  1174.025238  39062.500
1      962.726772  1387.759873  39062.500
2      962.726772  1387.759873  39062.500
3      962.726772  1387.759873  39062.500
4      962.726772  1387.759873  39062.500
...           ...          ...        ...
1311  4549.548030  5672.030097   9765.625
1312  4549.548030  5672.030097   9765.625
1313  4549.548030  5672.030097   9765.625
1314  4549.548030  5672.030097   9765.625
1315  4549.548030  5672.030097   9765.625

[1316 rows x 3 columns]

In [16]:
dat_df_min0 = dat_df_Acc.loc[1:10].min()
dat_df_min0_D = pd.DataFrame(dat_df_min0).T

for i in range(2, 1317, 1):
    dat_df_min1 = dat_df_Acc.loc[i:i+9].min()
    dat_df_min1_D = pd.DataFrame(dat_df_min1).T
    dat_df_min0_D = dat_df_min0_D.append(dat_df_min1_D)

dat_df_min0_D = dat_df_min0_D.rename(columns={'X_Acceleration': 'X_Min', 'Y_Acceleration': 'Y_Min', 'Dist_Acceleration': 'Dist_Min'})
dat_df_min0_D = dat_df_min0_D.reset_index(drop=True)
dat_df_min0_D

            X_Min        Y_Min      Dist_Min
0       31.933112   169.947689 -29218.407597
1       31.933112   169.947689 -29218.407597
2        3.483106   169.947689 -29218.407597
3        3.483106   396.196297 -29218.407597
4        3.483106   396.196297 -29218.407597
...           ...          ...           ...
1311  1225.148974  2178.598965 -11446.409990
1312  1319.623324  2178.598965 -11446.409990
1313  1319.623324  2771.200622 -11446.409990
1314  1319.623324  2771.200622 -11446.409990
1315   617.431472  1101.256077 -11446.409990

[1316 rows x 3 columns]

In [17]:
dat_df_mean0 = dat_df_Acc.loc[1:10].mean()
dat_df_mean0_D = pd.DataFrame(dat_df_mean0).T

for i in range(2, 1317, 1):
    dat_df_mean1 = dat_df_Acc.loc[i:i+9].mean()
    dat_df_mean1_D = pd.DataFrame(dat_df_mean1).T
    dat_df_mean0_D = dat_df_mean0_D.append(dat_df_mean1_D)

dat_df_mean0_D = dat_df_mean0_D.rename(columns={'X_Acceleration': 'X_Mean', 'Y_Acceleration': 'Y_Mean', 'Dist_Acceleration': 'Dist_Mean'})
dat_df_mean0_D = dat_df_mean0_D.reset_index(drop=True)
dat_df_mean0_D

           X_Mean       Y_Mean    Dist_Mean
0      335.281555   691.510113  -234.264132
1      398.629206   788.913026  -467.988767
2      353.363899   776.885386    -7.669630
3      324.067849   889.631302 -2059.235554
4      331.113726   954.026647 -2683.585190
...           ...          ...          ...
1311  2908.150784  4328.558355   232.659387
1312  2917.598219  4279.259813    24.542842
1313  2873.625828  4443.871747  -413.733272
1314  3032.093870  4165.927866  -205.616727
1315  2658.358164  3713.715097   -32.666689

[1316 rows x 3 columns]

In [18]:
dat_df_var0 = dat_df_Acc.loc[1:10].var()
dat_df_var0_D = pd.DataFrame(dat_df_var0).T

for i in range(2, 1317, 1):
    dat_df_var1 = dat_df_Acc.loc[i:i+9].var()
    dat_df_var1_D = pd.DataFrame(dat_df_var1).T
    dat_df_var0_D = dat_df_var0_D.append(dat_df_var1_D)

dat_df_var0_D = dat_df_var0_D.rename(columns={'X_Acceleration': 'X_Var', 'Y_Acceleration': 'Y_Var', 'Dist_Acceleration': 'Dist_Var'})
dat_df_var0_D = dat_df_var0_D.reset_index(drop=True)
dat_df_var0_D

             X_Var         Y_Var      Dist_Var
0     8.972605e+04  9.647390e+04  4.000930e+08
1     9.506460e+04  1.312216e+05  4.025465e+08
2     1.097695e+05  1.399500e+05  4.094019e+08
3     1.220298e+05  1.150003e+05  4.647770e+08
4     1.190327e+05  1.317490e+05  4.744805e+08
...            ...           ...           ...
1311  1.069527e+06  1.722068e+06  3.453771e+07
1312  1.035086e+06  1.862976e+06  3.411593e+07
1313  1.047749e+06  1.365516e+06  3.179212e+07
1314  8.987471e+05  1.410184e+06  3.241659e+07
1315  1.197002e+06  1.990525e+06  3.319466e+07

[1316 rows x 3 columns]

In [19]:
dat_features_0 = pd.merge(dat_df_max0_D, dat_df_min0_D, left_index=True,right_index=True)
dat_features_1 = pd.merge(dat_features_0, dat_df_mean0_D, left_index=True,right_index=True)
dat_features = pd.merge(dat_features_1, dat_df_var0_D, left_index=True,right_index=True)

print(dat_features.shape)
dat_features

(1316, 12)

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var
0,962.726772,1174.025238,39062.500,31.933112,169.947689,-29218.407597,335.281555,691.510113,-234.264132,8.972605e+04,9.647390e+04,4.000930e+08
1,962.726772,1387.759873,39062.500,31.933112,169.947689,-29218.407597,398.629206,788.913026,-467.988767,9.506460e+04,1.312216e+05,4.025465e+08
2,962.726772,1387.759873,39062.500,3.483106,169.947689,-29218.407597,353.363899,776.885386,-7.669630,1.097695e+05,1.399500e+05,4.094019e+08
3,962.726772,1387.759873,39062.500,3.483106,396.196297,-29218.407597,324.067849,889.631302,-2059.235554,1.220298e+05,1.150003e+05,4.647770e+08
4,962.726772,1387.759873,39062.500,3.483106,396.196297,-29218.407597,331.113726,954.026647,-2683.585190,1.190327e+05,1.317490e+05,4.744805e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
1311,4549.548030,5672.030097,9765.625,1225.148974,2178.598965,-11446.409990,2908.150784,4328.558355,232.659387,1.069527e+06,1.722068e+06,3.453771e+07
1312,4549.548030,5672.030097,9765.625,1319.623324,2178.598965,-11446.409990,2917.598219,4279.259813,24.542842,1.035086e+06,1.862976e+06,3.411593e+07
1313,4549.548030,5672.030097,9765.625,1319.623324,2771.200622,-11446.409990,2873.625828,4443.871747,-413.733272,1.047749e+06,1.365516e+06,3.179212e+07
1314,4549.548030,5672.030097,9765.625,1319.623324,2771.200622,-11446.409990,3032.093870,4165.927866,-205.616727,8.987471e+05,1.410184e+06,3.241659e+07
1315,4549.548030,5672.030097,9765.625,617.431472,1101.256077,-11446.409990,2658.358164,3713.715097,-32.666689,1.197002e+06,1.990525e+06,3.319466e+07

In [20]:
dat_features['Answer'] = 'password'
dat_features

,X_Max,Y_Max,Dist_Max,X_Min,Y_Min,Dist_Min,X_Mean,Y_Mean,Dist_Mean,X_Var,Y_Var,Dist_Var,Answer
0,962.726772,1174.025238,39062.500,31.933112,169.947689,-29218.407597,335.281555,691.510113,-234.264132,8.972605e+04,9.647390e+04,4.000930e+08,password
1,962.726772,1387.759873,39062.500,31.933112,169.947689,-29218.407597,398.629206,788.913026,-467.988767,9.506460e+04,1.312216e+05,4.025465e+08,password
2,962.726772,1387.759873,39062.500,3.483106,169.947689,-29218.407597,353.363899,776.885386,-7.669630,1.097695e+05,1.399500e+05,4.094019e+08,password
3,962.726772,1387.759873,39062.500,3.483106,396.196297,-29218.407597,324.067849,889.631302,-2059.235554,1.220298e+05,1.150003e+05,4.647770e+08,password
4,962.726772,1387.759873,39062.500,3.483106,396.196297,-29218.407597,331.113726,954.026647,-2683.585190,1.190327e+05,1.317490e+05,4.744805e+08,password
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,4549.548030,5672.030097,9765.625,1225.148974,2178.598965,-11446.409990,2908.150784,4328.558355,232.659387,1.069527e+06,1.722068e+06,3.453771e+07,password
1312,4549.548030,5672.030097,9765.625,1319.623324,2178.598965,-11446.409990,2917.598219,4279.259813,24.542842,1.035086e+06,1.862976e+06,3.411593e+07,password
1313,4549.548030,5672.030097,9765.625,1319.623324,2771.200622,-11446.409990,2873.625828,4443.871747,-413.733272,1.047749e+06,1.365516e+06,3.179212e+07,password
1314,4549.548030,5672.030097,9765.625,1319.623324,2771.200622,-11446.409990,3032.093870,4165.927866,-205.616727,8.987471e+05,1.410184e+06,3.241659e+07,password
1315,4549.548030,5672.030097,9765.625,617.431472,1101.256077,-11446.409990,2658.358164,3713.715097,-32.666689,1.197002e+06,1.990525e+06,3.319466e+07,password

In [21]:
dat_features.to_csv('data_password_5.csv')